.ai-bg {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url('../img/ai.jpg') no-repeat bottom;
  background-size: cover;
  z-index: 5;
}

.ai {
  position: absolute;
  bottom: 1%;
  width: 62px;
  height: 72px;
  background: url('../img/aisprite.gif');
  background-position: 0px center !important;
  animation: play 1.5s steps(5) infinite,
  run1 10s linear forwards infinite;
  z-index: 5;
}

@keyframes play {
  100% {
    background-position: -308px;
  }
}

@keyframes run1 {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}



