@keyframes dogMove {
  from {left:0px;}
	to {left:45%;}
}

@-moz-keyframes dogMove {
	from {left:0px;}
	to {left:45%;}
}

@-webkit-keyframes dogMove {
	from {left:0px;}
	to {left:45%;}
}

@-o-keyframes dogMove {
	from {left:0px;}
	to {left:45%;}
}


@keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@-webkit-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@-o-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-webkit-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-o-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}

@-moz-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}


@-webkit-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}


@-o-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}

@keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-moz-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-webkit-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-o-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}


@keyframes lvlStart {
	from {left:5000px;}
	to {left:0px;}
}

@-moz-keyframes lvlStart {
	from {left:5000px;}
	to {left:0px;}
}

@-webkit-keyframes lvlStart {
	from {left:5000px;}
	to {left:0px;}
}

@-o-keyframes lvlStart {
	from {left:5000px;}
	to {left:0px;}
}

@keyframes lvlEnd {
	from {left:0px;}
	to {left:5000px;}
}

@-moz-keyframes lvlEnd {
	from {left:0px;}
	to {left:5000px;}
}

@-webkit-keyframes lvlEnd {
	from {left:0px;}
	to {left:5000px;}
}

@-o-keyframes lvlEnd {
	from {left:0px;}
	to {left:5000px;}
}

#stage {
  display: flex;
  position: absolute;
  z-index: -1;
	background: #897200 url('../img/duckhunt.png') ;
	width:100%;
	height:100%;
	overflow:hidden;
}

#stage > input {
	display:none;
}

#shootingArea {
	width:100%;
	height:550px;
	overflow:hidden;
}

#shootingArea > div {
	position:absolute;
	width:100%;
	height:550px;
	left:5000px;
	overflow:hidden;
}




#shootingArea > div > div {
	position:relative;
	width:100%;
	height:100%;

}

#shootingArea > div > div > label {
	position:absolute;
	top:0;
	left:0;
	height:550px;
	width:100%;
}

#shootingArea > div > div > div > label, #shootingArea > div > div > div > span {
	background: url('../img/sprite.png') no-repeat;
	height:76px;
	display:block;
	width:70px;
	position:relative;
	background-position:0px -220px;

}

#shootingArea > div > div > div > span {
	display:none;
}

.console {
	height:56px;
	background-color:#000;
	border: 1px solid #7FCE16;
	position:absolute;
	bottom:10px;
	border-radius: 5px;
	overflow:hidden;
}



#dogIntro {
	position:absolute;
	bottom: 10%;
	z-index:10;
	background: url('../img/sprite.png') no-repeat;
	width: 120px;
	height: 100px;
}



#dogLaugh {
	width:100%;
	height:570px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}

#dogLaugh > div {
	position:absolute;
	top:560px;
	left:45%;
}

#dogLaugh > div > span {
	width: 150px;
	height: 100px;
}

#dogLaugh > div > span:nth-child(1) {
	display:block;
	background: url('../img/sprite.png') no-repeat;

	animation: dogLaugh 200ms infinite steps(1) alternate;
	-moz-animation: dogLaugh 200ms infinite steps(1) alternate;
	-webkit-animation: dogLaugh 200ms infinite steps(1) alternate;
	-o-animation: dogLaugh 200ms infinite steps(1) alternate;
}

#dogLaugh > div > span:nth-child(2) {
	display:none;
	background: url('../img/sprite.png') no-repeat;
	background-position:-600px -0px;
}

/*D1*/
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(1),
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > div > label,
#bc1-1:checked ~ #bullets div > div:nth-child(1) > span:nth-child(3) { display:none; }
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > div > span { display: block; }
#bc1-2:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(2),
#bc1-2:checked ~ #bullets div > div:nth-child(1) > span:nth-child(2) { display:none; }
#bc1-3:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(3),
#bc1-3:checked ~ #bullets div > div:nth-child(1) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(1) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d1:checked ~ #points .pts1 {
	left: -142px;
}

#d1:checked ~ #shootingArea > div:nth-child(1) label {
	display:none;
}

#d1:checked ~ #shootingArea > div:nth-child(1) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;

	background-position:-65px -460px;
	display:block;
}

#d1:checked ~ #shootingArea > div:nth-child(1) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d1:checked ~ #dogLaugh > div:nth-child(1) > span:nth-child(1) {
	display:none;
}

#d1:checked ~ #dogLaugh > div:nth-child(1) > span:nth-child(2) {
	display:block;
}

#d1:checked ~ #hits > div > span:nth-child(1) {
	background-position: -25px -557px;
}


/*D2*/
#bc2-1:checked ~ #shootingArea > div:nth-child(2) > div > label:nth-child(1),
#bc2-1:checked ~ #shootingArea > div:nth-child(2) > div > div > label,
#bc2-1:checked ~ #bullets div > div:nth-child(2) > span:nth-child(3) { display:none; }
#bc2-1:checked ~ #shootingArea > div:nth-child(2) > div > div > span { display: block; }
#bc2-2:checked ~ #shootingArea > div:nth-child(2) > div > label:nth-child(2),
#bc2-2:checked ~ #bullets div > div:nth-child(2) > span:nth-child(2) { display:none; }
#bc2-3:checked ~ #shootingArea > div:nth-child(2) > div > label:nth-child(3),
#bc2-3:checked ~ #bullets div > div:nth-child(2) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(2) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d2:checked ~ #points .pts2 {
	left: -142px;
}

#d2:checked ~ #shootingArea > div:nth-child(2) label {
	display:none;
}

#d2:checked ~ #shootingArea > div:nth-child(2) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d2:checked ~ #shootingArea > div:nth-child(2) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d2:checked ~ #dogLaugh > div:nth-child(2) > span:nth-child(1) {
	display:none;
}

#d2:checked ~ #dogLaugh > div:nth-child(2) > span:nth-child(2) {
	display:block;
}

#d2:checked ~ #hits > div > span:nth-child(2) {
	background-position: -25px -557px;
}





/*D3*/
#bc3-1:checked ~ #shootingArea > div:nth-child(3) > div > label:nth-child(1),
#bc3-1:checked ~ #shootingArea > div:nth-child(3) > div > div > label,
#bc3-1:checked ~ #bullets div > div:nth-child(3) > span:nth-child(3) { display:none; }
#bc3-1:checked ~ #shootingArea > div:nth-child(3) > div > div > span { display: block; }
#bc3-2:checked ~ #shootingArea > div:nth-child(3) > div > label:nth-child(2),
#bc3-2:checked ~ #bullets div > div:nth-child(3) > span:nth-child(2) { display:none; }
#bc3-3:checked ~ #shootingArea > div:nth-child(3) > div > label:nth-child(3),
#bc3-3:checked ~ #bullets div > div:nth-child(3) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(3) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d3:checked ~ #points .pts3 {
	left: -142px;
}

#d3:checked ~ #shootingArea > div:nth-child(3) label {
	display:none;
}

#d3:checked ~ #shootingArea > div:nth-child(3) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d3:checked ~ #shootingArea > div:nth-child(3) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d3:checked ~ #dogLaugh > div:nth-child(3) > span:nth-child(1) {
	display:none;
}

#d3:checked ~ #dogLaugh > div:nth-child(3) > span:nth-child(2) {
	display:block;
}

#d3:checked ~ #hits > div > span:nth-child(3) {
	background-position: -25px -557px;
}




/*D4*/
#bc4-1:checked ~ #shootingArea > div:nth-child(4) > div > label:nth-child(1),
#bc4-1:checked ~ #shootingArea > div:nth-child(4) > div > div > label,
#bc4-1:checked ~ #bullets div > div:nth-child(4) > span:nth-child(3) { display:none; }
#bc4-1:checked ~ #shootingArea > div:nth-child(4) > div > div > span { display: block; }
#bc4-2:checked ~ #shootingArea > div:nth-child(4) > div > label:nth-child(2),
#bc4-2:checked ~ #bullets div > div:nth-child(4) > span:nth-child(2) { display:none; }
#bc4-3:checked ~ #shootingArea > div:nth-child(4) > div > label:nth-child(3),
#bc4-3:checked ~ #bullets div > div:nth-child(4) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(4) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d4:checked ~ #points .pts4 {
	left: -142px;
}

#d4:checked ~ #shootingArea > div:nth-child(4) label {
	display:none;
}

#d4:checked ~ #shootingArea > div:nth-child(4) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d4:checked ~ #shootingArea > div:nth-child(4) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d4:checked ~ #dogLaugh > div:nth-child(4) > span:nth-child(1) {
	display:none;
}

#d4:checked ~ #dogLaugh > div:nth-child(4) > span:nth-child(2) {
	display:block;
}

#d4:checked ~ #hits > div > span:nth-child(4) {
	background-position: -25px -557px;
}






/*D5*/
#bc5-1:checked ~ #shootingArea > div:nth-child(5) > div > label:nth-child(1),
#bc5-1:checked ~ #shootingArea > div:nth-child(5) > div > div > label,
#bc5-1:checked ~ #bullets div > div:nth-child(5) > span:nth-child(3) { display:none; }
#bc5-1:checked ~ #shootingArea > div:nth-child(5) > div > div > span { display: block; }
#bc5-2:checked ~ #shootingArea > div:nth-child(5) > div > label:nth-child(2),
#bc5-2:checked ~ #bullets div > div:nth-child(5) > span:nth-child(2) { display:none; }
#bc5-3:checked ~ #shootingArea > div:nth-child(5) > div > label:nth-child(3),
#bc5-3:checked ~ #bullets div > div:nth-child(5) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(5) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d5:checked ~ #points .pts5 {
	left: -142px;
}

#d5:checked ~ #shootingArea > div:nth-child(5) label {
	display:none;
}

#d5:checked ~ #shootingArea > div:nth-child(5) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d5:checked ~ #shootingArea > div:nth-child(5) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d5:checked ~ #dogLaugh > div:nth-child(5) > span:nth-child(1) {
	display:none;
}

#d5:checked ~ #dogLaugh > div:nth-child(5) > span:nth-child(2) {
	display:block;
}

#d5:checked ~ #hits > div > span:nth-child(5) {
	background-position: -25px -557px;
}




/*D6*/
#bc6-1:checked ~ #shootingArea > div:nth-child(6) > div > label:nth-child(1),
#bc6-1:checked ~ #shootingArea > div:nth-child(6) > div > div > label,
#bc6-1:checked ~ #bullets div > div:nth-child(6) > span:nth-child(3) { display:none; }
#bc6-1:checked ~ #shootingArea > div:nth-child(6) > div > div > span { display: block; }
#bc6-2:checked ~ #shootingArea > div:nth-child(6) > div > label:nth-child(2),
#bc6-2:checked ~ #bullets div > div:nth-child(6) > span:nth-child(2) { display:none; }
#bc6-3:checked ~ #shootingArea > div:nth-child(6) > div > label:nth-child(3),
#bc6-3:checked ~ #bullets div > div:nth-child(6) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(6) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d6:checked ~ #points .pts6 {
	left: -142px;
}

#d6:checked ~ #shootingArea > div:nth-child(6) label {
	display:none;
}

#d6:checked ~ #shootingArea > div:nth-child(6) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d6:checked ~ #shootingArea > div:nth-child(6) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d6:checked ~ #dogLaugh > div:nth-child(6) > span:nth-child(1) {
	display:none;
}

#d6:checked ~ #dogLaugh > div:nth-child(6) > span:nth-child(2) {
	display:block;
}

#d6:checked ~ #hits > div > span:nth-child(6) {
	background-position: -25px -557px;
}




/*D7*/
#bc7-1:checked ~ #shootingArea > div:nth-child(7) > div > label:nth-child(1),
#bc7-1:checked ~ #shootingArea > div:nth-child(7) > div > div > label,
#bc7-1:checked ~ #bullets div > div:nth-child(7) > span:nth-child(3) { display:none; }
#bc7-1:checked ~ #shootingArea > div:nth-child(7) > div > div > span { display: block; }
#bc7-2:checked ~ #shootingArea > div:nth-child(7) > div > label:nth-child(2),
#bc7-2:checked ~ #bullets div > div:nth-child(7) > span:nth-child(2) { display:none; }
#bc7-3:checked ~ #shootingArea > div:nth-child(7) > div > label:nth-child(3),
#bc7-3:checked ~ #bullets div > div:nth-child(7) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(7) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d7:checked ~ #points .pts7 {
	left: -142px;
}

#d7:checked ~ #shootingArea > div:nth-child(7) label {
	display:none;
}

#d7:checked ~ #shootingArea > div:nth-child(7) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d7:checked ~ #shootingArea > div:nth-child(7) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d7:checked ~ #dogLaugh > div:nth-child(7) > span:nth-child(1) {
	display:none;
}

#d7:checked ~ #dogLaugh > div:nth-child(7) > span:nth-child(2) {
	display:block;
}

#d7:checked ~ #hits > div > span:nth-child(7) {
	background-position: -25px -557px;
}





/*D8*/
#bc8-1:checked ~ #shootingArea > div:nth-child(8) > div > label:nth-child(1),
#bc8-1:checked ~ #shootingArea > div:nth-child(8) > div > div > label,
#bc8-1:checked ~ #bullets div > div:nth-child(8) > span:nth-child(3) { display:none; }
#bc8-1:checked ~ #shootingArea > div:nth-child(8) > div > div > span { display: block; }
#bc8-2:checked ~ #shootingArea > div:nth-child(8) > div > label:nth-child(2),
#bc8-2:checked ~ #bullets div > div:nth-child(8) > span:nth-child(2) { display:none; }
#bc8-3:checked ~ #shootingArea > div:nth-child(8) > div > label:nth-child(3),
#bc8-3:checked ~ #bullets div > div:nth-child(8) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(8) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d8:checked ~ #points .pts8 {
	left: -142px;
}

#d8:checked ~ #shootingArea > div:nth-child(8) label {
	display:none;
}

#d8:checked ~ #shootingArea > div:nth-child(8) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d8:checked ~ #shootingArea > div:nth-child(8) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d8:checked ~ #dogLaugh > div:nth-child(8) > span:nth-child(1) {
	display:none;
}

#d8:checked ~ #dogLaugh > div:nth-child(8) > span:nth-child(2) {
	display:block;
}

#d8:checked ~ #hits > div > span:nth-child(8) {
	background-position: -25px -557px;
}





/*D9*/
#bc9-1:checked ~ #shootingArea > div:nth-child(9) > div > label:nth-child(1),
#bc9-1:checked ~ #shootingArea > div:nth-child(9) > div > div > label,
#bc9-1:checked ~ #bullets div > div:nth-child(9) > span:nth-child(3) { display:none; }
#bc9-1:checked ~ #shootingArea > div:nth-child(9) > div > div > span { display: block; }
#bc9-2:checked ~ #shootingArea > div:nth-child(9) > div > label:nth-child(2),
#bc9-2:checked ~ #bullets div > div:nth-child(9) > span:nth-child(2) { display:none; }
#bc9-3:checked ~ #shootingArea > div:nth-child(9) > div > label:nth-child(3),
#bc9-3:checked ~ #bullets div > div:nth-child(9) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(9) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d9:checked ~ #points .pts9 {
	left: -142px;
}

#d9:checked ~ #shootingArea > div:nth-child(9) label {
	display:none;
}

#d9:checked ~ #shootingArea > div:nth-child(9) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d9:checked ~ #shootingArea > div:nth-child(9) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d9:checked ~ #dogLaugh > div:nth-child(9) > span:nth-child(1) {
	display:none;
}

#d9:checked ~ #dogLaugh > div:nth-child(9) > span:nth-child(2) {
	display:block;
}

#d9:checked ~ #hits > div > span:nth-child(9) {
	background-position: -25px -557px;
}




/*D10*/
#bc10-1:checked ~ #shootingArea > div:nth-child(10) > div > label:nth-child(1),
#bc10-1:checked ~ #shootingArea > div:nth-child(10) > div > div > label,
#bc10-1:checked ~ #bullets div > div:nth-child(10) > span:nth-child(3) { display:none; }
#bc10-1:checked ~ #shootingArea > div:nth-child(10) > div > div > span { display: block; }
#bc10-2:checked ~ #shootingArea > div:nth-child(10) > div > label:nth-child(2),
#bc10-2:checked ~ #bullets div > div:nth-child(10) > span:nth-child(2) { display:none; }
#bc10-3:checked ~ #shootingArea > div:nth-child(10) > div > label:nth-child(3),
#bc10-3:checked ~ #bullets div > div:nth-child(10) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(10) > div > div {
	position:absolute;
	left:-100px;
	top:0;
	width:70px;
	height:76px;
}

#d10:checked ~ #points .pts10 {
	left: -142px;
}

#d10:checked ~ #shootingArea > div:nth-child(10) label {
	display:none;
}

#d10:checked ~ #shootingArea > div:nth-child(10) > div > div > span {
	animation: duckFall 500ms linear forwards;
	-moz-animation: duckFall 500ms linear forwards;
	-webkit-animation: duckFall 500ms linear forwards;
	-o-animation: duckFall 500ms linear forwards;
	background-position:-65px -460px;
	display:block;
}

#d10:checked ~ #shootingArea > div:nth-child(10) > div > div {
	animation-play-state:paused;
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-o-animation-play-state:paused;
}

#d10:checked ~ #dogLaugh > div:nth-child(10) > span:nth-child(1) {
	display:none;
}

#d10:checked ~ #dogLaugh > div:nth-child(10) > span:nth-child(2) {
	display:block;
}

#d10:checked ~ #hits > div > span:nth-child(10) {
	background-position: -25px -557px;
}





/*The timers*/

/*Intro dog*/
#dogIntro {
	animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
	-moz-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
	-webkit-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
	-o-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
}

/*!*Lvl1*!*/
/*#shootingArea > div:nth-child(1),*/
/*#bullets > div > div:nth-child(1) {*/
	/*!*Start at the end of the last lvl, keep for 9s*!*/
	/*animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;*/
	/*-moz-animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;*/
	/*-webkit-animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;*/
	/*-o-animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;*/
/*}*/


#dogLaugh > div:nth-child(1) {
	/*The lvlEnd - 4 seconds*/

	animation: dogShow 4s 6s;
	-moz-animation: dogShow 4s 6s;
	-webkit-animation: dogShow 4s 6s;
	-o-animation: dogShow 4s 6s;
}


/*Lvl10*/
#shootingArea > div:nth-child(10),
#bullets > div > div:nth-child(10) {
	/*Start at the end of the last lvl, keep for 9s*/

	animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
	-moz-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
	-webkit-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
	-o-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
}



@media (max-width: 780px) {
  #dogIntro {
    position:absolute;
    bottom: 3vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {left:0px;}
    to {left:45%}
  }

  @-moz-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-webkit-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-o-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

}
