@keyframes dogMove {
  from {left:0px;}
  to {left:45%;}
}

@-moz-keyframes dogMove {
  from {left:0px;}
  to {left:45%;}
}

@-webkit-keyframes dogMove {
  from {left:0px;}
  to {left:45%;}
}

@-o-keyframes dogMove {
  from {left:0px;}
  to {left:45%;}
}


@keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}


@-webkit-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}


@-o-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}

@keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}

@-webkit-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}

@-o-keyframes dogWalk {
  0% { background-position:0px 0px; }
  3% { background-position:-120px 0px; }
  6% { background-position:-240px 0px; }
  9% { background-position:-360px 0px; }
  12% { background-position:0px 0px; }
  15% { background-position:-120px 0px; }
  18% { background-position:-240px 0px; }
  21% { background-position:-360px 0px; }
  24% { background-position:0px 0px; }
  27% { background-position:-120px 0px; }
  30% { background-position:-240px 0px; }
  33% { background-position:-360px 0px; }
  36% { background-position:0px 0px; }
  39% { background-position:-120px 0px; }
  42% { background-position:-240px 0px; }
  45% { background-position:-360px 0px; }
  48% { background-position:0px 0px; }
  51% { background-position:-120px 0px; }
  54% { background-position:-240px 0px; }
  57% { background-position:-360px 0px; }
  60% { background-position:0px 0px; }
  63% { background-position:-120px 0px; }
  66% { background-position:-240px 0px; }
  69% { background-position:-360px 0px;  } /* Walk */

  72% { background-position:-480px 0px; }  /* Snif  */
  75% { background-position:-360px 0px;  }
  78% { background-position:-480px 0px;  }
  81% { background-position:-360px 0px;  }

  90% { background-position:-0px -110px; } /* Find */
  93% {background-position:-120px -110px;} /* Jump */
  96% {background-position:-240px -110px;}
  100% { background-position: 1000px 1000px; }/*Hide*/
}


@keyframes dogLaugh {
  0% { background-position:-360px -110px; }
  50% { background-position:-480px -110px; }
  100% { background-position:-360px -110px; }
}

@-moz-keyframes dogLaugh {
  0% { background-position:-360px -110px; }
  50% { background-position:-480px -110px; }
  100% { background-position:-360px -110px; }
}


@-webkit-keyframes dogLaugh {
  0% { background-position:-360px -110px; }
  50% { background-position:-480px -110px; }
  100% { background-position:-360px -110px; }
}


@-o-keyframes dogLaugh {
  0% { background-position:-360px -110px; }
  50% { background-position:-480px -110px; }
  100% { background-position:-360px -110px; }
}

@keyframes dogShow {
  0% { top:560px; }
  25% { top: 480px; }
  75% { top: 480px; }
  100% { top:560px; }
}

@-moz-keyframes dogShow {
  0% { top:560px; }
  25% { top: 480px; }
  75% { top: 480px; }
  100% { top:560px; }
}

@-webkit-keyframes dogShow {
  0% { top:560px; }
  25% { top: 480px; }
  75% { top: 480px; }
  100% { top:560px; }
}

@-o-keyframes dogShow {
  0% { top:560px; }
  25% { top: 480px; }
  75% { top: 480px; }
  100% { top:560px; }
}


@keyframes lvlStart {
  from {left:5000px;}
  to {left:0px;}
}

@-moz-keyframes lvlStart {
  from {left:5000px;}
  to {left:0px;}
}

@-webkit-keyframes lvlStart {
  from {left:5000px;}
  to {left:0px;}
}

@-o-keyframes lvlStart {
  from {left:5000px;}
  to {left:0px;}
}

@keyframes lvlEnd {
  from {left:0px;}
  to {left:5000px;}
}

@-moz-keyframes lvlEnd {
  from {left:0px;}
  to {left:5000px;}
}

@-webkit-keyframes lvlEnd {
  from {left:0px;}
  to {left:5000px;}
}

@-o-keyframes lvlEnd {
  from {left:0px;}
  to {left:5000px;}
}

#stage {
  display: flex;
  position: absolute;
  z-index: -1;
  background: #897200 url('../img/duckhunt.png') 10% 10%;
  width:100%;
  height:100vh;
  overflow:hidden;
}

#stage > input {
  display:none;
}

#shootingArea {
  width:100%;
  height:550px;
  overflow:hidden;
}

#shootingArea > div {
  position:absolute;
  width:100%;
  height:550px;
  left:5000px;
  overflow:hidden;
}

#shootingArea > div > div {
  position:relative;
  width:100%;
  height:100%;

}

#shootingArea > div > div > label {
  position:absolute;
  top:0;
  left:0;
  height:550px;
  width:100%;
}

#shootingArea > div > div > div > label, #shootingArea > div > div > div > span {
  background: url('../img/sprite.png') no-repeat;
  height:76px;
  display:block;
  width:70px;
  position:relative;
  background-position:0px -220px;
}

#shootingArea > div > div > div > span {
  display:none;
}

.console {
  height:56px;
  background-color:#000;
  border: 1px solid #7FCE16;
  position:absolute;
  bottom:10px;
  border-radius: 5px;
  overflow:hidden;
}

#dogIntro {
  position:absolute;
  bottom: 10%;
  z-index:10;
  background: url('../img/sprite.png') no-repeat;
  width: 120px;
  height: 100px;
}

#dogLaugh {
  width:100%;
  height:570px;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
}

#dogLaugh > div {
  position:absolute;
  top:560px;
  left:45%;
}

#dogLaugh > div > span {
  width: 150px;
  height: 100px;
}

#dogLaugh > div > span:nth-child(1) {
  display:block;
  background: url('../img/sprite.png') no-repeat;

  animation: dogLaugh 200ms infinite steps(1) alternate;
  -moz-animation: dogLaugh 200ms infinite steps(1) alternate;
  -webkit-animation: dogLaugh 200ms infinite steps(1) alternate;
  -o-animation: dogLaugh 200ms infinite steps(1) alternate;
}

#dogLaugh > div > span:nth-child(2) {
  display:none;
  background: url('../img/sprite.png') no-repeat;
  background-position:-600px -0px;
}

/*D1*/
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(1),
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > div > label,
#bc1-1:checked ~ #bullets div > div:nth-child(1) > span:nth-child(3) { display:none; }
#bc1-1:checked ~ #shootingArea > div:nth-child(1) > div > div > span { display: block; }
#bc1-2:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(2),
#bc1-2:checked ~ #bullets div > div:nth-child(1) > span:nth-child(2) { display:none; }
#bc1-3:checked ~ #shootingArea > div:nth-child(1) > div > label:nth-child(3),
#bc1-3:checked ~ #bullets div > div:nth-child(1) > span:nth-child(1) { display:none; }

#shootingArea > div:nth-child(1) > div > div {
  position:absolute;
  left:-100px;
  top:0;
  width:70px;
  height:76px;
}

#d1:checked ~ #points .pts1 {
  left: -142px;
}

#d1:checked ~ #shootingArea > div:nth-child(1) label {
  display:none;
}

#d1:checked ~ #shootingArea > div:nth-child(1) > div > div > span {
  animation: duckFall 500ms linear forwards;
  -moz-animation: duckFall 500ms linear forwards;
  -webkit-animation: duckFall 500ms linear forwards;
  -o-animation: duckFall 500ms linear forwards;

  background-position:-65px -460px;
  display:block;
}

#d1:checked ~ #shootingArea > div:nth-child(1) > div > div {
  animation-play-state:paused;
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
  -o-animation-play-state:paused;
}

#d1:checked ~ #dogLaugh > div:nth-child(1) > span:nth-child(1) {
  display:none;
}

#d1:checked ~ #dogLaugh > div:nth-child(1) > span:nth-child(2) {
  display:block;
}

#d1:checked ~ #hits > div > span:nth-child(1) {
  background-position: -25px -557px;
}

/*The timers*/

/*Intro dog*/
#dogIntro {
  animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  -moz-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  -webkit-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  -o-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
}

#dogLaugh > div:nth-child(1) {
  /*The lvlEnd - 4 seconds*/

  animation: dogShow 4s 6s;
  -moz-animation: dogShow 4s 6s;
  -webkit-animation: dogShow 4s 6s;
  -o-animation: dogShow 4s 6s;
}

/*Lvl10*/
#shootingArea > div:nth-child(10),
#bullets > div > div:nth-child(10) {
  /*Start at the end of the last lvl, keep for 9s*/

  animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
  -moz-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
  -webkit-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
  -o-animation: lvlStart 1ms steps(1) 86s forwards, lvlEnd 1ms steps(1) 95s forwards;
}

@media (max-width: 780px) {
  #dogIntro {
    position: absolute;
    bottom: 1vh;
    z-index: 10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position: absolute;
    top: 560px;
    left: 45%;
  }

  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {
      left: 0px;
    }
    to {
      left: 45%
    }
  }

  @-moz-keyframes dogMove {
    from {
      left: 0px;
    }
    to {
      left: 45%;
    }
  }

  @-webkit-keyframes dogMove {
    from {
      left: 0px;
    }
    to {
      left: 45%;
    }
  }

  @-o-keyframes dogMove {
    from {
      left: 0px;
    }
    to {
      left: 45%;
    }
  }
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 0vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }
  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {left:0px;}
    to {left:45%}
  }

  @-moz-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-webkit-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-o-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 5vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100%;
    overflow:hidden;
  }

  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {left:0px;}
    to {left:45%}
  }

  @-moz-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-webkit-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-o-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 5vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100%;
    overflow:hidden;
  }

  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {left:0px;}
    to {left:45%}
  }

  @-moz-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-webkit-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

  @-o-keyframes dogMove {
    from {left:0px;}
    to {left:45%;}
  }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 5vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100%;
    overflow:hidden;
  }

  #dogIntro {
    animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  @keyframes dogMove {
    from {left:0;}
    to {left:45%}
  }

  @-moz-keyframes dogMove {
    from {left:0;}
    to {left:45%;}
  }

  @-webkit-keyframes dogMove {
    from {left:0;}
    to {left:45%;}
  }

  @-o-keyframes dogMove {
    from {left:0;}
    to {left:45%;}
  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 10vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100vh;
    overflow:hidden;
  }

  #dogIntro {
    animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  }


  #dogLaugh > div:nth-child(1) {
    /*The lvlEnd - 4 seconds*/

    animation: dogShow 4s 6s;
    -moz-animation: dogShow 4s 6s;
    -webkit-animation: dogShow 4s 6s;
    -o-animation: dogShow 4s 6s;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  #dogIntro {
    position:absolute;
    bottom: 10vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }

  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100vh;
    overflow:hidden;
  }

  #dogIntro {
    animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  #dogLaugh > div:nth-child(1) {
    /*The lvlEnd - 4 seconds*/

    animation: dogShow 4s 6s;
    -moz-animation: dogShow 4s 6s;
    -webkit-animation: dogShow 4s 6s;
    -o-animation: dogShow 4s 6s;
  }
}
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1080px){
  /* Styles */

  #dogIntro {
    position:absolute;
    bottom: 10vh;
    z-index:10;
    background: url('../img/sprite.png') no-repeat;
    width: 120px;
    height: 100px;
  }

  #dogLaugh > div {
    position:absolute;
    top:560px;
    left:45%;
  }
  #stage {
    display: flex;
    position: absolute;
    z-index: -1;
    background: #897200 url('../img/duckhunt.png') 10% 10%;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  #dogIntro {
    animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -moz-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -webkit-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
    -o-animation: dogMove 3.5s linear forwards, dogWalk 4s step-start 1 forwards;
  }

  #dogLaugh > div:nth-child(1) {
    /*The lvlEnd - 4 seconds*/

    animation: dogShow 4s 6s;
    -moz-animation: dogShow 4s 6s;
    -webkit-animation: dogShow 4s 6s;
    -o-animation: dogShow 4s 6s;
  }

}
