@keyframes dogMove {
  from {
    left: 0px;
  }
  to {
    left: 105%;
  }
}

@-webkit-keyframes dogMove {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

@-o-keyframes dogMove {
  from {
    left: 0px;
  }
  to {
    left: 105%;
  }
}

@keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -120px 0px;
  }
  102% {
    background-position: -240px 0px;
  }
  105% {
    background-position: -360px 0px;
  }
}

@-webkit-keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -120px 0px;
  }
}

@-o-keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -120px 0px;
  }
}

@keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -120px 0px;
  }
}

@-webkit-keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -120px 0px;
  }
}

@-o-keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  3% {
    background-position: -120px 0px;
  }
  6% {
    background-position: -240px 0px;
  }
  9% {
    background-position: -360px 0px;
  }
  12% {
    background-position: 0px 0px;
  }
  15% {
    background-position: -120px 0px;
  }
  18% {
    background-position: -240px 0px;
  }
  21% {
    background-position: -360px 0px;
  }
  24% {
    background-position: 0px 0px;
  }
  27% {
    background-position: -120px 0px;
  }
  30% {
    background-position: -240px 0px;
  }
  33% {
    background-position: -360px 0px;
  }
  36% {
    background-position: 0px 0px;
  }
  39% {
    background-position: -120px 0px;
  }
  42% {
    background-position: -240px 0px;
  }
  45% {
    background-position: -360px 0px;
  }
  48% {
    background-position: 0px 0px;
  }
  51% {
    background-position: -120px 0px;
  }
  54% {
    background-position: -240px 0px;
  }
  57% {
    background-position: -360px 0px;
  }
  60% {
    background-position: 0px 0px;
  }
  63% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  69% {
    background-position: -360px 0px;
  }
  /* Walk */
  72% {
    background-position: 0px 0px;
  }
  75% {
    background-position: -120px 0px;
  }
  78% {
    background-position: -240px 0px;
  }
  81% {
    background-position: -360px 0px;
  }
  /* Walk */
  84% {
    background-position: 0px 0px;
  }
  87% {
    background-position: -120px 0px;
  }
  90% {
    background-position: -240px 0px;
  }
  93% {
    background-position: -360px 0px;
  }
  96% {
    background-position: 0px 0px;
  }
  99% {
    background-position: -12px 0px;
  }
}

#stage {
  position: absolute;
  z-index: -15;
  background: url('../img/duckhunt.png') no-repeat bottom;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-size: cover;
}

#stage > input {
  display: none;
}

#shootingArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#shootingArea > div {
  position: absolute;
  width: 100%;
  height: 550px;
  left: 5000px;
  overflow: hidden;
}

#shootingArea > div > div {
  position: absolute;
  width: 100%;
  height: 100%;

}

#shootingArea > div > div > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 100%;
}

#shootingArea > div > div > div > label, #shootingArea > div > div > div > span {
  background: url('../img/duckhuntDog.png') no-repeat;
  height: 76px;
  display: flex;
  width: 70px;
  position: absolute;
  background-position: 0px -220px;
}

#shootingArea > div > div > div > span {
  display: none;
}

#dogIntro {
  position: absolute;
  bottom: 10%;
  z-index: 10;
  background: url('../img/duckhuntDog.png') no-repeat;
  width: 120px;
  height: 100px;
}

/*The timers*/
/*Intro dog*/
#dogIntro {
  animation: dogMove 7s linear forwards infinite, dogWalk 6s step-start infinite;
  -webkit-animation: dogMove 7s linear forwards infinite, dogWalk 6s step-start infinite;
  -o-animation: dogMove 7s linear forwards infinite, dogWalk 6s step-start infinite;
}
