@font-face {
  font-family: 'start2p';
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'description';
  src: url('../fonts/PressStart2P.ttf');
}

.start2p {
  font-family: 'start2p', 'sans-serif' !important;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  width: 100%;
}

.cultural-nights {
  font-family: 'start2p', 'sans-serif';
  color: white;
  font-size: 1.25rem;
  padding-top: 30px;
}

.nights-content {
  font-family: 'description', 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: white;
}

.nights-content span:nth-child(2) {
  /*font-weight: bolder;*/
  font-size: 1.5rem;
  color: Red;
}

.nights-content span:nth-child(3) {
  /*font-weight: bolder;*/
  font-size: 1.5rem;
  color: yellow;
}

.garba {
  display: block;
  margin: 0 auto;
}

.kalrav {
  color: cornflowerblue !important;
}

.city {
  filter: grayscale(50%);
  position: absolute;
  z-index: -3;
  max-height: 90vh;
  bottom: 0;
}

/*Hide Scrollbar*/
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* Modal CSS */
#event-modal {
  top: 0;
  left: 0;
  /*opacity: 0.9;*/
  display: none;
  position: absolute;
  z-index: 1000;
  font-family: 'start2p', 'Roboto', sans-serif;

}

.event-row {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 15px;
  line-height: 1.5rem;
  background: black;
!important;
  /*color: #263238;*/
  color: olivedrab;
  font-weight: lighter !important;

}

.close {
  background: white !important;
  width: 35px;
  padding: 1vw 0.5vw 2vw;
  cursor: pointer;
}

.levels {
  background: black;
  padding-top: 30px;
}

.event-description {
  padding: 20px;
}

.title {
  font-family: "start2p", sans-serif;
  font-size: 20px;
  line-height: 3rem;
}

.dark-col {
  padding-bottom: 10px !important;
  /*background-color: rgba(255, 255, 255, 0.95);*/
}

.light-col {
  /*background-color: rgba(255, 255, 255, 0.95);*/
}

.participant-data {
  margin-bottom: 10px;
}

.chip {
  display: inline-block; /* this has been added */
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  border: 3px solid black;

}

.managers-row {
  background-color: black;
  padding: 10px 0;
}

.event-managers {
  background: black;
  text-align: center;
}

.manager-name {
  color: olivedrab;
}

.white-text {
  color: olivedrab;
}

.no-margin {
  margin: 0 !important;
}

@media (max-width: 780px) {
  .garba {
    width: 90%;
  }
}
