#nontechEvents {
  justify-content: center;
  /*position: absolute;*/
  /*height: 100%;*/
  /*overflow: auto;*/
  margin: 0px;
  z-index: 99;
  display: flex;
  flex-direction: row;


}

.events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
  border-radius: 2%;
  background-color: rgba(0, 51, 0, 0.7);
  margin: 5px;
  width: 30%;
  /*max-width: 90%;*/

  /*flex-direction: column;*/
}

.nontech-events {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 2%;
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
}

.event-name {
  padding: 10px;
  line-height: 2rem;
  list-style: none;
  color: orange;
  font-family: "start2p", sans-serif;
  font-size: 1rem;
  cursor: pointer;

}

.modal-open-animation {
  animation: zoomIn 0.5s
}

.modal-close-animation {
  animation: zoomOut 0.5s
}

/* Media queries */

@media (max-width: 780px) {
  body {
    overflow: visible;
  }

  .events {
    width: 90%;
  }

  .udaan-pop-heads {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: auto;
  }

  .right-facing {
    left: -50vh;
  }

  .left-facing {
    right: -100vw;
  }

  #nights {
    display: none;
  }
}
