body {
  background: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fixed {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 5% !important;
}

.maze {
  position: relative;
  top: 40%;
  left: 50%;
  height: 70%;
  max-width: 40rem;
  border: 0.2rem solid #1311BC;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px #1311BC;
}

.wall_1 {
  position: absolute;
  top: 75%;
  left: 27%;
  height: 0.3rem;
  width: 18rem;
  border: 0.3rem solid #1311BC;
  border-radius: 20px;
  box-shadow: 0 0 10px #1311BC;
}

.events {
  padding-top: 21vh;
}

.pacman {
  position: fixed;
}

.pacman_head {
  position: relative;
  background: #FDFF00;
  height: 3.5rem;
  width: 3.5rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.pacman_mouth {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2.5rem;
  width: 2.5rem;
  background: black;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: eating 0.4s ease infinite;
}

.ghost, .ghost_red, .ghost_orange {
  position: fixed;
  top: 10%;
  left: 3%;

}

.ghost_head, .ghost_head_red, .ghost_head_orange {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  background: #46bfee;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.ghost_body, .ghost_body_red, .ghost_body_orange {
  position: absolute;
  height: 2.5rem;
  width: 3.5rem;
  top: 50%;
  background: #46bfee;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 85% 79%, 66% 100%, 50% 80%, 33% 100%, 17% 80%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 85% 79%, 66% 100%, 50% 80%, 33% 100%, 17% 80%, 0 100%, 0 0);
}

.ghost_head_red, .ghost_body_red {
  background: #d03e19;
}

.ghost_head_orange, .ghost_body_orange {
  background: #db851c;
}

.ghost_eye_1, .ghost_eye_2 {
  position: absolute;
  top: 25%;
  left: 20%;
  height: 1rem;
  width: 1rem;
  background: #fff;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.ghost_eye_2 {
  left: 60%;
}

.ghost_eye_inside_1, .ghost_eye_inside_2 {
  position: absolute;
  content: "";
  top: 40%;
  left: 20%;
  height: 0.6rem;
  width: 0.6rem;
  background: black;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.coin_container {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coin {
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 2rem;
  background: rgb(254, 252, 234);
  background: -moz-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
  background: -webkit-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
  background: linear-gradient(to bottom, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
  margin-bottom: 2.7rem;
  margin-right: 2.7rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  animation: eaten_flip 5s ease-in-out infinite;
}

@keyframes eating {
  0% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%);
  }
  100% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@keyframes eaten_flip {
  0%, 50% {
    transform: translate(-50%, -50%) rotateY(0);
  }
  25%, 100% {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}

@media screen and (min-width: 430px) and (max-width: 700px) {
  .pacman_head {
    height: 2.5rem;
    width: 2.5rem;
  }

  .pacman_mouth {
    height: 1.5rem;
    width: 1.5rem;
  }

  .ghost_head, .ghost_head_red, .ghost_head_orange {
    height: 2.5rem;
    width: 2.5rem;
  }

  .ghost_body, .ghost_body_red, .ghost_body_orange {
    height: 1.5rem;
    width: 2.5rem;
  }

  ghost_eye_1, .ghost_eye_2 {
    height: 0.8rem;
    width: 0.8rem;
  }

  .ghost_eye_inside_1, .ghost_eye_inside_2 {
    height: 0.4rem;
    width: 0.4rem;
  }

  .maze {
    position: relative;
    top: 40%;
    left: 50%;
    height: 35rem;
    max-width: 30rem;
  }

  .wall_1 {
    top: 75%;
    width: 16rem;
    left: 21%;
  }

  .fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 5% !important;
  }

}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .pacman_head {
    height: 2rem;
    width: 2rem;
  }

  .pacman_mouth {
    height: 1rem;
    width: 1rem;
  }

  .ghost_head, .ghost_head_red, .ghost_head_orange {
    height: 2rem;
    width: 2rem;
  }

  .ghost_body, .ghost_body_red, .ghost_body_orange {
    height: 1rem;
    width: 2rem;
  }

  ghost_eye_1, .ghost_eye_2 {
    height: 0.6rem;
    width: 0.6rem;
  }

  .ghost_eye_inside_1, .ghost_eye_inside_2 {
    height: 0.2rem;
    width: 0.2rem;
  }

  .events {
    padding-top: 17vh;
    width: 250px;
    margin: 0 auto;
  }

  .maze {
    top: 40%;
    left: 50%;
    height: 30rem;
    max-width: 20rem;
  }

  .wall_1 {
    display: none;
  }

  .coin-container, .coin {
    display: none;
  }

  .fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 5% !important;
  }

}
