.hadouken {
  position: absolute;
  bottom: 25%;
  z-index: 5;
  left: 35%;
}

.ryu {
  position: absolute;
  bottom: 10%;
  left: 25%;
  z-index: 5;
}

.guile {
  position: absolute;
  bottom: 10%;
  left: 70%;
  z-index: 5;
  transform: scale(-1, 1);
}

.kosign {
  position: absolute;
  bottom: 40%;
  left: 50%;
  z-index: 5;
}

.street {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../img/street.gif") center;
  background-size: cover;
  z-index: -1;
}
