/*========================================================================================
*   General CSS
*=========================================================================================
*/

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P.ttf') format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #111;
  margin: 0;
  font-size: 0.875rem; /* 14px */
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.font-family--press-start-2p {
  font-family: 'PressStart2P', sans-serif;
}

#swipe-window {
  min-height: 100%;
}

/*========================================================================================
*   Object specific CSS
*=========================================================================================
*/

/*==========================================
*   ---- Intro
*===========================================
*/

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #111;
  position: fixed;
  z-index: 10;
}

#arcadeSVG {
  position: absolute;
  height: 95%;
  width: auto;
  z-index: 2;
  bottom: 0;
  margin-bottom: 0%;
}

@media only screen and (max-width: 75em) {
  #arcadeSVG {
    position: absolute;
    height: 85%;
    width: auto;
    bottom: 0;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 64em) {
  #arcadeSVG {
    position: absolute;
    height: 85%;
    width: auto;
    bottom: 0;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 48em) {
  #arcadeSVG {
    position: absolute;
    height: 80%;
    width: auto;
    bottom: 0;
    margin-bottom: 15%;
  }
}

#arcadeScreen {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background-color: rgb(17, 17, 17);
}

#coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58%;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 249, 15, 0.5);
  z-index: 4;
}

#coin img {
  height: 60%;
  width: 60%;
}

#arcadeScreen .screenText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 150%;
}

#skip-intro {
  display: none;
  position: fixed;
  bottom: 3vh;
  right: 5vw;
  cursor: pointer;
  border-radius: 10% 10%;
  border: #FFF solid 3px;
  padding: 16px;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 5;
}

/*==========================================
*   ---- TV Static Background
*===========================================
*/

#tv-static-bg {
  background: url('../img/tv-static.gif');
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  background-size: 50%;
}

@media only screen and (max-width: 75em) {
  #tv-static-bg {
    background-size: 150%;
  }
}

@media only screen and (max-width: 64em) {
  #tv-static-bg {
    background-size: 150%;
  }
}

@media only screen and (max-width: 48em) {
  #tv-static-bg {
    background-size: 150%;
  }
}

/*==========================================
*   ---- Udaan Title Page
*===========================================
*/

:root {
  --navigation-button-size--lg : 12vmin;
  --navigation-button-size--sm : 16vmin;
}

#udaan-title-page {

}

#udaan-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 65%;
}

#udaan-logo-container .logo {
  width: 50%;
  height: 90%;
  background: url("../img/udaan_logo_2018.png") no-repeat;
  background-position: center;
  background-size: contain;
}

#udaan-title-page .navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4vmin;
  height: 20%;
  width: 100%;
}

#udaan-title-page .navigation-container .navigation-button {
  width: var(--navigation-button-size--lg);
  height: var(--navigation-button-size--lg);
  padding: 2vmin;
  cursor: pointer;
}

#udaan-title-page .navigation-container .down {
  margin-top: 8vmin;
}

@media only screen and (max-width: 64em) {
  #udaan-logo-container .logo {
    width: 90%;
    height: 100%;
  }
  #udaan-title-page .navigation-container .down {
    margin-top: 16vmin;
  }
  #udaan-title-page .navigation-container .navigation-button {
    width: var(--navigation-button-size--sm);
    height: var(--navigation-button-size--sm);
    padding: 0;
  }
}

/*==========================================
*   ---- Title page background
*===========================================
*/
#udaan-title-page .wrapper {
  background: radial-gradient(ellipse at center, rgba(127, 0, 173, 0.6) 0%, rgba(0, 0, 0, 0.8) 60%, #000000 90%), url('../img/stars.jpg');
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  position: absolute;
  z-index: -1;
  width: 100%;
}
#udaan-title-page .grid {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 4em 4em, 4em 4em;
  background-color: black;
  border-top: 5px solid #d100b1;
  -webkit-box-shadow: 0 -25px 45px #d100b1;
  box-shadow: 0 -25px 45px #d100b1;
  height: 80em;
  -webkit-transform: scale(1.26) rotateX(80deg);
  transform: scale(1.26) rotateX(80deg);
  position: absolute;
  width: 200%;
}
#udaan-title-page .grid:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(95%, #000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 95%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
#udaan-title-page .grid:before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(209, 0, 177, 0.5) 90%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

/*==========================================
*   ---- Title Page Navigation Buttons
*===========================================
*/

#udaan-title-page .navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4vmin;
  height: 20%;
  width: 100%;
}

#udaan-title-page .navigation-container .navigation-button {
  width: var(--navigation-button-size--lg);
  height: var(--navigation-button-size--lg);
  padding: 2vmin;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  #udaan-title-page .navigation-container .navigation-button {
    width: var(--navigation-button-size--sm);
    height: var(--navigation-button-size--sm);
    padding: 0;
  }
}

/*==========================================
*   ---- Udaan Departments Page
*===========================================
*/

#udaan-departments .navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1vmin;
  right: 0;
  position: absolute;
  z-index: 1;
}

#udaan-departments .navigation-container .navigation-button {
  width: var(--navigation-button-size--lg);
  height: var(--navigation-button-size--lg);
  padding: 2vmin;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  #udaan-departments .navigation-container .navigation-button {
    width: var(--navigation-button-size--sm);
    height: var(--navigation-button-size--sm);
    padding: 0;
  }
}

/*==========================================
*   ---- Udaan Non-tech Page
*===========================================
*/

#udaan-nontech .navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vmin;
  left: 0;
  position: absolute;
  z-index: 1;
}

#udaan-nontech .navigation-container .navigation-button {
  width: var(--navigation-button-size--lg);
  height: var(--navigation-button-size--lg);
  padding: 2vmin;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  #udaan-nontech .navigation-container .navigation-button {
    width: var(--navigation-button-size--sm);
    height: var(--navigation-button-size--sm);
    padding: 0;
  }
}


/*==========================================
*   ---- Udaan Other Page
*===========================================
*/

#udaan-other .navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1vmin;
  top: 0;
  position: absolute;
  z-index: 1;
}

#udaan-other .navigation-container .navigation-button {
  width: var(--navigation-button-size--lg);
  height: var(--navigation-button-size--lg);
  padding: 2vmin;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  #udaan-other .navigation-container .navigation-button {
    width: var(--navigation-button-size--sm);
    height: var(--navigation-button-size--sm);
    padding: 0;
  }
}

/*==========================================
*   ---- Z-Indexes
*===========================================
*/
:root {
  --blackout--z-index: 0; /* when-selected: 2 */
  --cartridge--z-index: 1; /* when-selected: 4 */
  --console-top-view-top-half--z-index: 3;
  --console-top-view-bottom-half--z-index: 5;
}

/*==========================================
*   ---- Cartridge CSS
*===========================================
*/
:root {
  --cartridge-lg-unit: 30vh;
  --cartridge-md-unit: 30vh;
  --cartridge-sm-unit: 30vh;
  --cartridge-xs-unit: 18vh;
}

.cartridge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}

.cartridge {
  font-size: 1rem;
  cursor: pointer;
  z-index: var(--cartridge--z-index);
  overflow: hidden;

  /* Because stupid flexbox grid adds 7rem padding in col-lg */
  padding: 0 !important;

  width: calc(var(--cartridge-lg-unit) * 2);
  height: var(--cartridge-lg-unit);
}

.cartridge-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*background-color: red;*/
}

.cartridge-content img {
  height: 80%;
  width: auto;
}

@media only screen and (max-width: 75em) {
  .cartridge {
    width: calc(var(--cartridge-md-unit) * 2);
    height: var(--cartridge-md-unit);
  }
}

@media only screen and (max-width: 64em) {
  .cartridge {
    width: calc(var(--cartridge-sm-unit) * 2);
    height: var(--cartridge-sm-unit);
  }
}

@media only screen and (max-width: 48em) {
  .cartridge {
    width: calc(var(--cartridge-xs-unit) * 2);
    height: var(--cartridge-xs-unit);
  }
}

@media (orientation: landscape) {
  .cartridge {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    height: var(--cartridge-lg-unit);
  }
}

/*==========================================
*   ---- Blackout CSS
*===========================================
*/

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.0;
  z-index: 0;
}

/*==========================================
*   ---- Console CSS
*===========================================
*/
:root {
  --console-zoom-correction: 1.0;
  --console-lg-unit: calc(var(--cartridge-lg-unit) * 2 * var(--console-zoom-correction));
  --console-md-unit: calc(var(--cartridge-md-unit) * 2 * var(--console-zoom-correction));
  --console-sm-unit: calc(var(--cartridge-sm-unit) * 2 * var(--console-zoom-correction));
  --console-xs-unit: calc(var(--cartridge-xs-unit) * 2 * var(--console-zoom-correction));
  --console-lg-height: 15vh;
}

.console-top-view {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  /*background-color: black;*/
}

.console-top-view--top-half {
  z-index: var(--console-top-view-top-half--z-index);
  height: calc(var(--console-lg-height)*0.5);
  bottom: calc(var(--console-lg-height) * -1);
}

.console-top-view--bottom-half {
  z-index: var(--console-top-view-bottom-half--z-index);
  height: var(--console-lg-height);
  bottom: calc(var(--console-lg-height) * -1 * 2);
}

.console-top-view-content {
  display: flex;
  justify-content: center;
  width: calc(var(--console-lg-unit) * 2);
}

.console-top-view-content img {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 75em) {
  .console-top-view-content {
    width: calc(var(--console-md-unit) * 2);
  }
}

@media only screen and (max-width: 64em) {
  .console-top-view-content {
    width: calc(var(--console-sm-unit) * 2);
  }
}

@media only screen and (max-width: 48em) {
  .console-top-view-content {
    width: calc(var(--console-xs-unit) * 2);
  }

  .console-top-view-content img {
    width: 150%;
  }
}

/*==========================================
*   ---- Information bar
*===========================================
*/

#information-bar {
  display: table-row;
  position: fixed;
  left: 0;
  width: 100%;
  top: 14vh;
  color: white;
  z-index: 100;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  text-transform: uppercase;
  font-size: 3vh;
}

/*==========================================
*   ---- User message bar
*===========================================
*/

#user-message-bar {
  display: table-row;
  position: fixed;
  left: 0;
  width: 100%;
  top: 10vh;
  color: white;
  z-index: 100;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  text-transform: uppercase;
  font-size: 2vh;
}

/*==========================================
*   ---- Media Query
*===========================================
*/

.media-query {
  display: none;
  content: "lg";
}

@media only screen and (max-width: 75em) {
  .media-query {
    content: "md";
  }
}

@media only screen and (max-width: 64em) {
  .media-query {
    content: "sm";
  }
}

@media only screen and (max-width: 48em) and (orientation: portrait) {
  .media-query {
    content: "xs portrait";
  }
}

@media only screen and (max-width: 48em) and (orientation: landscape) {
  .media-query {
    content: "xs landscape";
  }
}

