body {
  overflow: hidden;
}

@font-face {
  font-family: 'start2p';
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'description';
  src: url('../fonts/PressStart2P.ttf');
}

.dept-name {
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 10px;
  z-index: 5;
  height: 10vh;
  transform-origin: 0 0;
  color: white;
  font-family: 'start2p', 'sans-serif';
  font-size: 2rem;
  /*transform: rotate(90deg);*/
}

/*.right-dept-name {*/
/*right: 20px;*/
/*}*/

/*.left-dept-name {*/
/*left: 20px;*/
/*}*/

.events {
  position: absolute;
  width: 60vw;
  z-index: 99;
}

.right-facing {
  left: 0;
}

.left-facing {
  right: 0;
}

.center-font {
  text-align: center;
  padding-top: 10vh;
  right: 0;
  left: 0;
  width: 100vw;
  font-family: 'start2p', sans-serif;
}

.event-name {
  line-height: 2.5rem;
  list-style: none;
  color: white;
  font-family: "start2p", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;

}

.modal-open-animation {
  animation: zoomIn 0.5s
}

.modal-close-animation {
  animation: zoomOut 0.5s
}

/*begin : heads modal*/

.custom-row {
  margin: 0;
}

.head-title {
  color: white;
  line-height: 2.5rem;
  font-family: "start2p", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0 10px;
}

.head-name {
  font-family: 'description', 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}

#heads-modal {
  background: black !important;
  z-index: 900;
  top: 0;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/*end: heads modal*/

@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }

  .dept-text {
    margin-top: 30vh;
    font-size: 1rem;
  }

  .dept-logo, .dept-logo img {
    height: 40vh;
  }

  #event {
    height: 85vh;
  }

  .right-facing {
    left: -40vh;
  }

  .left-facing {
    right: -50vh;
  }
}
