body {
  overflow: hidden;
}

@font-face {
  font-family: 'start2p';
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'description';
  src: url('../fonts/PressStart2P.ttf');
}

.events {
  font-size: 1rem;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Events list*/
#events {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  border-radius: 2%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 99;
}

.center-font {
  text-align: center;
  padding-top: 1vh;
  /*right: 0;*/
  /*width: 100vw;*/
  font-family: 'start2p', sans-serif;
}

.event-name {
  line-height: 2.5rem;
  list-style: none;
  color: black;
  font-family: "start2p", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.modal-open-animation {
  animation: zoomIn 0.5s
}

.modal-close-animation {
  animation: zoomOut 0.5s
}

/*begin : heads modal*/

.custom-row {
  margin: 0;
}

.head-title {
  line-height: 2.5rem;
  list-style: none;
  color: black;
  font-family: "start2p", sans-serif;
  font-size: 0.875em;
  cursor: pointer;
}

.head-name {
  font-family: 'description', 'Roboto', sans-serif;
  font-size: 0.775em;
  line-height: 2.5rem;
}

#heads-modal {

  z-index: 900;
  top: 0;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/*end: heads modal*/

@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }

  .dept-text {
    margin-top: 30vh;
    font-size: 1rem;
  }

  .dept-logo, .dept-logo img {
    height: 40vh;
  }

  #event {
    height: 85vh;
  }

  .right-facing {
    left: -40vh;
  }

  .left-facing {
    right: -50vh;
  }
}
